.transaction_history {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px blue;
  border-radius: 4px;
  box-shadow: 1px 1px 5px #565656;
}

.transaction_history:hover {
  box-shadow: 2px 2px 10px grey;
}

.transaction_history__row {
  display: flex;
  justify-content: space-around;
}

.transaction_history__row:nth-of-type(even) {
  background-color: #e6e6e6;
}

.transaction_history__cell {
  width: 150px;
  text-align: center;
  padding: 5px 0;
  border: 1px gray solid;
}
